- if current_user.seeker?
  %p
    = link_to "Edit", edit_question_path, class: "btn btn-default"

    = link_to "Delete", @question, method: :delete, data: {confirm: "Are you sure you want to delete this?" }, class: "btn btn-danger"
